body{
overflow:scroll;
font-family:'Arial Narrow',Futura,sans-serif;
font-size:34px;
letter-spacing:0.1px;   
}

ul {
	list-style-type:none;
}

#lower{
position:absolute;
bottom:-260px; 
height:300px;  
width:100%;
background-color:Black;
color:White;  
}

.big{
    font-size:50px;   
}

.small{
font-size:20px;
}

.red{
color:Red;
}